
*{
    padding: 0px;
    margin: 0px;
}
.Spotify{
    padding: 0px;
    margin:0px;
    width: 100vw;
    height: 100vh; 
   overflow-y: scroll;
   background-color:rgb(38, 37, 37);
color: white;
}
.section-1{
    display: flex;
    height: 85vh;
    
    
}
.sidebar{
    width: 36vw;
    display:flex;
    flex-direction: column;
    background-color:#000000;;
    font-family: sans-serif;
    font-weight: 700;
    font-size:19px;
    line-height: 24.74px;
    letter-spacing: -6%;
    color:#FFFFFF;
    align-items: baseline;
    position: sticky;
    left:0px;
    padding-left: 10px;
    overflow-x:scroll;

}
.home-logo{
    text-align: left;
    margin-block: 10px;
    font-size: 19px;
    font-weight: 700;
    height: 60px;
    width: 300px;
    border-radius: 10px;
    background-color: grey;
}
.home,.search-logo,.labrary-logo{
    font-weight: 700;
    font-size: 28px;
    padding-right: 14px;
}
.search,.labrary{
    padding-left: 10px;
    margin-block:10px ;
    font-size: 19px;
    font-weight: 700;
}
.search>input{
    padding-left: 10px;
    font-size: 19px;
    font-weight: 700;
    border: none;
    background: transparent;
}

.main{
    width: 100vw;
    padding-left: 30px;
    overflow-y:scroll ;
}
::-webkit-scrollbar{
    display: none;
}
.logo-s{
margin-top:20px;  
}
.second-sec-side{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:self-start;
    margin-top: 35px;
    padding-left: 10px;
    
}
.third-side{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:self-start;
    margin-top: 35px;
   
}
.forth-side{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:self-start;
    margin-top: 35px;
}
.fifth-side{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    background-color:rgb(38, 37, 37);
    display: flex;
    flex-direction: column;
    
}
.main-section-1{
    display: flex;
    justify-content: space-between;
}
.main-section-2>h4{
    font-weight: 700;
    font-size: 38px;
    color:white;
}
.mornig-playlist{
    display: flex;
    flex-wrap: wrap;
   
}
.mornig-song{
    border-radius: 10px;
    margin: 20px;
    height: 100px;
    width: 362px;
    background-color: #000000;
    
}
#song-link{
    color: white;
    padding-left: 7px;
    font-size: 20px;
}
.section-2-songs{
    flex-wrap: wrap;
}
.image>h5{
    font-size: 21px;
    line-height: 23px;
}
.image>p{
    font-size: 15px;
    line-height: 19.5px;
    color: #B3B3B3;
    ;
}
.section-2-box{
    border-radius: 12px;
    color: white;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    margin-top: 30px;
    height: 305px;
    width:251px;
    margin-inline:20px;
    background-color: #000000;

}
.footer{
    background-color:rgb(38, 37, 37);
    height: 120px;
    display: flex;
    flex-direction: column;
    position:sticky;
    bottom: 0px;
    width:100vw;
    z-index: 3;
    box-sizing: border-box;
    justify-content: space-between;
    }
    .row-1{
        margin-inline: 25px;
        display: flex;
        justify-content: space-between;

    }
.row-2{
font-size: 17px;
font-weight: 700;
    text-align: right;
    padding-inline: 40px;
    box-sizing: border-box;
    width:100%;
    background-color: #1ED760;

}